name: python-release

on:
  push:
    tags:
      - python-v*

jobs:
  create_wheels_manylinux:
    runs-on: ubuntu-latest
    name: Create wheels for manylinux
    container: quay.io/pypa/manylinux1_x86_64
    steps:
      - uses: actions/checkout@v1

      - name: Build and audit wheels
        working-directory: ./bindings/python
        run: |
          sh build-wheels.sh
          ls -l -a dist

  create_wheels_others_64bit:
    name: Create wheels for other OSes
    env:
      MACOSX_DEPLOYMENT_TARGET: 10.11
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest, macos-10.15]
        python: [3.5, 3.6, 3.7, 3.8]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v1

      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly-2020-05-18
          override: true

      - name: Install Python
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python }}
          architecture: x64

      - name: Install dependencies
        run: |
          pip install setuptools wheel setuptools-rust --ignore-installed --force-reinstall
      - name: Build wheel
        working-directory: ./bindings/python
        run: |
          python setup.py bdist_wheel

      - name: Rename wheels
        shell: bash
        working-directory: ./bindings/python/dist
        run: |
          for file in *.whl ; do mv $file ${file//macosx_10_1[0-9]/macosx_10_11} ; done

  upload_package:
    name: Upload packages to PyPi
    runs-on: ubuntu-latest
    needs: [create_wheels_manylinux, create_wheels_others_64bit]

    steps:
      - uses: actions/checkout@v1

      - name: Install Python
        uses: actions/setup-python@v1

      - name: Install dependencies
        run: |
          pip install setuptools wheel setuptools-rust
      - name: Create source distribution
        working-directory: ./bindings/python
        run: python setup.py sdist

      - name: Upload to PyPi
        working-directory: ./bindings/python
        run: |
          pip install twine
          twine upload dist/* -u __token__ -p "$PYPI_TOKEN"
